<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ancestry Inference</title>
    <link rel="stylesheet" type="text/css" href="../public/font_eh0fpcd88eiv0a4i/iconfont.css">
    <link rel="stylesheet" href="../public/css/nav_footer.css">
    <link rel="stylesheet" href="../public/css/ancestry_inference.css">
</head>

<body>
    <div class="nav-header">
        <div class="nav-icon">
            <button id="nav-list" class="nav-list"><i class="iconfont icon-nav"></i></button>
            <button id="user-list" class="nav-user"><i class="iconfont icon-user"></i></button>
        </div>
        <div class="logo">
            <a href="./home.html"><img src="../public/images/logo.png" alt="logo"></a>
        </div>
        <ul class="list-ul">
            <li><a href="./home.html">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./data.html">Data</a></li>
            <li><a href="./imputation.html">Imputation</a></li>
            <li><a href="./variant.html">Variant</a></li>
            <li><a href="./genetic_makeup.html">Genetic Makeup</a></li>
            <li class="active"><a href="./ancestry_inference.html">Ancestry Inference</a></li>
            <li><a href="./comment.html">Comment</a></li>
        </ul>
        <div class="self-info">
            <span><a href="./login.html">Login</a></span>&nbsp;|&nbsp;<span><a href="./register.html">Register</a></span>
        </div>
        <ul class="user-ul">
            <li><a href="./login.html">Login</a></li>
            <li><a href="./register.html">Register</a></li>
        </ul>
    </div>
    <div class="wrap">
        <ul>
            <li>个体祖先成分预测，与PGGTools部分重合</li>
            <li>需要展示的图</li>
        </ul>
    </div>
    <div class="footer">
        CAS-MAP Partner Institute for Computational Blology [PGG]. Copyright &copy; 2015-2017
        <iframe style="background:transparent !important;position: fixed;bottom: 0;right: 50px;margin-bottom: 5px;" scrolling="no" frameborder="0" allowtransparency="true" width="30" height="30" src="//ra.revolvermaps.com/w/3/j/a/c2.php?i=0mgppjjkhbt&amp;b=0&amp;s=30&amp;m=0&amp;cl=ffffff&amp;co=004680&amp;cd=d64700&amp;v0=9&amp;v1=90&amp;r=33"></iframe>
    </div>
    <script src="../public/js/assert/jquery.min.js"></script>
    <script src="../public/js/nav.js"></script>
    <script src="../public/js/ancestry_inference.js"></script>
</body>

</html>