* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    background: #037aad;
    color: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
}

@media screen and (max-width: 769px) {
    .nav-header {
        width: 100%;
        background: #037aad;
        padding: 1px 10px;
        box-sizing: border-box;
    }
    .nav-header .nav-icon {
        width: 100%;
        margin-top: 5px;
        background: #037aad;
        display: inline-block;
    }
    .nav-header .nav-icon .nav-list {
        float: left;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0 8px;
    }
    .nav-header .nav-icon .nav-user {
        float: right;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 0 8px;
    }
    .nav-header .nav-icon .iconfont {
        font-size: 30px;
        color: #fff;
        font-weight: bold;
    }
    .nav-header .logo {
        display: none;
    }
    .nav-header .list-ul {
        display: none;
    }
    .nav-header .list-ul li {
        list-style: none;
    }
    .nav-header .list-ul li a {
        display: block;
        height: 30px;
        padding: 1px;
        line-height: 30px;
        text-decoration: none;
        color: #fff;
    }
    .nav-header .list-ul .active a {
        color: #f07b06;
    }
    .nav-header .self-info {
        display: none;
    }
    .nav-header .user-ul {
        display: none;
        text-align: right;
    }
    .nav-header .user-ul li {
        list-style: none;
    }
    .nav-header .user-ul li a {
        display: block;
        height: 30px;
        padding: 1px;
        line-height: 30px;
        text-decoration: none;
        color: #fff;
    }
    .nav-header .user-ul .active a {
        color: #f07b06;
    }
    .footer {
        height: 80px;
        line-height: 30px;
    }
}

@media screen and (min-width: 769px) {
    .nav-header {
        width: 100%;
        height: 50px;
        background: #037aad;
        box-sizing: border-box;
    }
    .nav-header .nav-icon {
        display: none;
    }
    .nav-header .logo {
        float: left;
        height: 50px;
    }
    .nav-header .logo img {
        padding: 5px 25px;
    }
    .nav-header .list-ul {
        float: left;
        margin: 0;
    }
    .nav-header .list-ul li {
        list-style: none;
        float: left;
    }
    .nav-header .list-ul li a {
        display: block;
        height: 50px;
        padding: 0 25px;
        line-height: 50px;
        text-decoration: none;
        color: #fff;
    }
    .nav-header .list-ul .active a {
        color: #f07b06;
    }
    .nav-header .self-info {
        float: right;
        color: #fff;
        height: 50px;
        line-height: 50px;
        padding-right: 25px;
    }
    .nav-header .self-info a {
        text-decoration: none;
        color: #fff;
    }
    .nav-header .user-ul {
        display: none;
    }
    .footer {
        height: 40px;
        line-height: 40px;
    }
}